*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}






.hero{
    h1{
        font-size: 4rem;
        line-height: 4rem;
    }
}


.card{
    border:none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.mission-vision{
    h2{
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 5rem;
    }
}

.many-blocks-image{
    background-image: url('../images/manyblocks.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bottom-card{
    border: 2px solid #36363656;
    
}